html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    background-color: #fff;
    margin: 0;
  /* Typography Declarations */
    font-family: 'Roboto', sans-serif;
    color: #838994;
    letter-spacing: 0.03em;
    padding: 0;
    border: 0;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
}

.content {
    padding: 0 0.5rem;
    margin: 0 auto;
    height: 4.8rem;
    width: 53rem;
}

.top-navigation > .content ul {
  margin: 0;
  padding-top: 0.5em;
  list-style-type: none;
}

.content img {
	float: left;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}

.top-navigation .content li {
    display: inline-block;
    padding: 1em 0.7em;
}

.top-navigation .content .links li.active {
    color: #4c5058;
    font-weight: 600;
}

a {
  /* Typography Declarations */
  text-decoration: none;
  color: #999;
}

a:hover {
  /* Typography Declarations */
  color: #333;
  cursor: pointer;
}

a:active {
  /* Typography Declarations */
  color: #ef5b2b;
}

.banner > .main {
  padding: 20rem;
  width: auto;
  height: 45.938rem;
  text-align: center;
  background-image: url('../img/thinkful-karma-banner.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.banner .main h1, h2 {
  color: #fff;
  font-weight: 200;
  line-height: 1.5em;
}

.features h1 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 0.6em;
}

.middle h2 {
  color: #000;
  font-weight: 400;
}

.main > h1 {
  color: #fff;
  font-size: 3.125em;
  margin-top: -0.75em;
}

.main > h2 {
  color: #fff;
  font-size: 1.563em;
}

.main > button.big {
  color: #fff;
  background: #ef5b2b;
  padding: 1em 2em;
  border-style: none;
  border-radius : 4px;
  font-size: 1.1em;
  line-height: 1.33;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.main > button.big:hover, .big:focus {
  background: #ed4812;
  text-decoration: none;
  cursor: pointer;
}

.features {
  padding: 7rem 7rem 0 7rem;
  background-color: #fff;
  text-align: center;
}

.middle {
  width: auto;
  height: 20rem;
}

.feature-devices, .feature-productivity, .feature-payment {
  float: left;
  padding-left: 7rem;
  padding-top: 3rem;
}

footer {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  height: 25rem;
}

.end {
  width: auto;
  margin: 0 16rem;
}

hr {
    display: block;
    border-style: inset;
    border-width: 1px;
    border-color: #eaebec;
} 

.social {
  padding: 0;
}

.social ul {
  list-style-type: none;
}

.social li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 0.5rem;
  border: 1px solid #eaebec;
  padding: 0.525rem 0;
  text-align: center;
}

.end > p {
  color: #000;
  font-size: 1em;
}

p.copyright {
  color: #999;
  font-size: 0.85em;
}

.twitter {
  color: #55acee;
}

.facebook {
  color: #4c66a4;
}

.instagram {
  color: #3f729b;
}
